.nav{
    border: 2px solid rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(134, 0, 167, 0.185)), url("https://s1.thcdn.com/widgets/96-en/40/main_banner-v2-035040.jpg");
    background-size: auto;
    background-repeat:repeat;
    background-position: 60% 20%;
    position: fixed;
    background-color: #000000a2;
    padding-bottom: 30px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.384);
    display:inline-block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0,7s ease 0s;
}

.nav img{
    width: 300px;
    display: flex;
    border: 2px solid transparent; 
    margin: -30px 0px -60px -0px;
}
.nav:hover img{
    display: none;
}
.nav:hover{
    transform: translateY(-1px);
}
.nav:hover .boton{
    display: block;
    text-decoration: none;
    
}
.nav:hover .inputnav{
    display: block;
}
.nav:hover .botonnav{
    display: block;
    text-decoration: none;
}
.nav:hover .contenido{
    display: flex;
    transition: display 2s ease-in-out 3s;

}
.contenido{
    display:none;
    justify-content: space-evenly;
    align-items:flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
.boton {
    border: none;   
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    color: rgb(0, 0, 0);
padding: 5px 10px 5px 10px;
cursor: pointer;
width: 100px;
height: 30px;
display: none;
}
.boton:hover{
    background-color: rgba(0, 255, 170, 0.966);
    color: black;
    box-shadow: 0px 0px 15px rgb(255, 238, 0);
    size: 10px;
    transform: translateY(-5px);
}
.inputnav{
    text-align: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: rgb(255, 238, 0);
    font-size: 16px;
    padding: 9px 20px;
    transition: all 0.3s ease 0s;
    width: 200px;
}

.inputnav:focus{
    outline: none;
    box-shadow: 0px 0px 5px #FFC300;
}
.botonnav {
    border: none;   
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    color: rgb(0, 0, 0);
padding: 5px 10px 5px 10px;
cursor: pointer;
width: 70px;
height: 30px;


}
button:hover{
    background-color: rgba(0, 255, 170, 0.966);
    color: black;
    box-shadow: 0px 0px 15px rgb(255, 238, 0);
    size: 10px;
}
.in{
    display: flex;
    flex-direction: row;
}
.Error img{
    width: 750px;
    padding-left: 300px;
}
.logout{
    border: none;   
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 15px;
}
.HistoryNavigate {
    padding-top: 2%;
    width: 150px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #ffffff00;
}
.HistoryNavigate h2{
    display: flex;
    text-align: center;
    background-color: #00000036;
}
@media screen and (max-width: 768px) {

    .nav{
        border: 2px solid rgb(0, 0, 0);
        background-size:auto;
        background-repeat:repeat;
        background-position: 50% 80%;
        height: 150px;
        padding-bottom: 0px;
    }
    .nav:hover img{
        display: flex;
    }
    .boton {
        display: flex;
        border: 2px solid #000000;
        font-size: auto;
        color: rgb(0, 0, 0);
        width: 110%;
        height: 20%;
        box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    }
    .contenido{
        display:flex;
        justify-content: space-between;
        width: auto;
        height: fit-content;
        align-items:center;
        padding-left: 0px;
        padding-right: 0;
        padding-top: 5%;
        margin-top: 3%;
        }
    .inputnav{
        display:flex;
        width: 110%;
        height: 100%;
        font-size: auto;
        background-color: #ffffff;
        box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.562);
    }
    .nav:hover {
        height: 150px;
    }
    .nav:hover .contenido{
        display:flex;
        align-items:center;
        padding-left: 0px;
        padding-right: 0;
        padding-top: 5%;
        justify-content: space-between;
    }
}