.cardF {
display: inline-flex;
flex-direction: column;
justify-content: center;
border: 2px solid rgba(0, 0, 0, 0);
background-color: rgba(0, 0, 0, 0.651);;
width: 200px;
height: auto;
text-align: center;
margin: 10px;
margin-top: 10px;
box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.425);
max-width: 100%;
border-radius: 10px;
}
.containerF {
    padding-top: 40px;
    
}
.cardF:hover{
width: 190px;
background-color: rgba(0, 0, 0, 0.671)
}
.cardF h2{
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#filtrar {
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    color: rgb(255, 238, 0);
    padding-top: auto;
}

select{
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.filter{
    background-color: rgba(0, 0, 0, 0.651);
    justify-content:first baseline;
    border-radius: 20px 0px 0px 20px;
    width: 200px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}

.cardscont {
    background-color: rgba(0, 0, 0, 0.507);
    border: 2px solid rgba(0, 255, 170, 0.966);
    box-shadow: 0px 0px 6px rgb(255, 238, 0);
    border-radius: 20px 0px;
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter button{
    display: flex;
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    width: 100px;
    height: 50px;
    padding: 5px 10px 5px 10px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    margin-left: -13%;
}

.filter button:hover{
    background-color: rgba(0, 255, 170, 0.966);
    color: black;
    box-shadow: 0px 0px 15px rgb(255, 238, 0);
    size: 10px;
    cursor: pointer;
}
.tituloF {
    display: inline-flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 0px 0px 6px rgb(255, 238, 0);
    border: 2px solid rgb(0, 255, 170, 0.966);
    text-align: center;
    align-items: center;
    color: rgba(0, 255, 170, 0.966);
    text-shadow: 0px 0px 6px rgb(83, 80, 27);
    font-size: 200%;
}

@media screen and (max-width: 768px){
    .cardF{
        display:inline-flex;
        flex-direction:column;
        justify-content: center;
        border: 2px solid rgba(0, 168, 8, 0);
        background-color: rgba(0, 0, 0, 0.651);
        width: 20%;
        min-width: 100px;
        height: max-content;
        text-align: center;
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.425);
        max-width:fit-content;
        border-radius: 10px;
    }
    .cardF h2{
        display: flex;
        font-size: 0.9rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .cardF:hover {
        width: 19%
    }
    .filter{
        display:flex;
        background-color: rgba(0, 0, 0, 0.432);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 20px 0px 0px;
    }
    .filter button{
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    select{
        display: flex;
        max-width: 80px;
    }
    .cardscont {
        background-color: rgba(0, 0, 0, 0.397);
        border: 2px solid rgba(0, 255, 170, 0.966);
        box-shadow: 0px 0px 6px rgb(255, 238, 0);
        border-radius: 40px 0px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .containerF {
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
.containerFi {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
.tituloF {
    display:flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 3%;
    font-size: 100%;
}
}