.App {
    background-color: #00000000;
    overflow: auto;
    padding-top: 80px;
}
.cards_container {
    padding-top: 60px;
}
.Page{
    display: flex;
    margin: auto;
    width: 300px;
    height: 40px;
    position: static;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius:50pc
}
.Page p {
    color: rgb(103, 103, 103);
    border-radius: 50%;
    margin: 10px;
    background-color: rgba(14, 12, 12, 0);
}
.Page h3 {
    display: block;
    color: yellow;
    border-radius: 50%;
    margin: 5px ;
    font-size: 20px;
    background-color: black;
}
.Page button{
    background-color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.534);
    border-radius: 50px;
    color: rgb(0, 0, 0);
padding: 5px 10px 5px 10px;
cursor: pointer;
width: 70px;
height: 30px;
    border: 2px solid transparent;
    cursor: pointer;
}
.Page button:hover{
    background-color: rgba(0, 255, 170, 0.966);
    color: black;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    size: 10px;
    border: 2px solid transparent;
    color: black;
    cursor: pointer;
}
